body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgba(20, 19, 19, 0.5), rgba(124, 60, 7, 0.5)),
              url('../images/truck4.jpg') !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}


.p-4 {
  background-color: #0000008e !important;
  max-width: 800px !important;
  margin: 5rem auto;
  padding: 3rem !important;
  border-radius: 1rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.site-title {
    text-align: center;
    margin-top: 20px;
    color: white;
    font-size: 2.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-2xl {
  color: #dbd3d3;
  text-align: center;
  font-size: 4rem !important;
  margin-bottom: 4rem !important;
}

button {
  display: block;
  min-width: 100;
  width: 100%;
  min-height: 60;
  margin-bottom: 2rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-weight: 500;
   cursor: pointer;
}

.bg-green-500 {
  background-color: #4caf50 !important;
}

.bg-green-500:hover {
  background-color: #3e8e41 !important;
}

.bg-blue-500 {
  background-color: #2196f3 !important;
}

.bg-blue-500:hover {
  background-color: #1976d2 !important;
}

.bg-red-600 {
  background-color: #f44336 !important;
}

.bg-red-600:hover {
  background-color: #d32f2f !important;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.mt-8 > button:last-child {
  margin-bottom: 0;
}

.mt-8 img{ 
  width:35px;
  height:35px;
}
